<!DOCTYPE html>
<html>
  <head>
    <title>WKH-MisterCocktail</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', async: true %>
    <!-- make JS work Using turbolinks See application.js, Event listener for whole page is necesary!
      also async: true is mimicking the common method to put the JS links at the end of the body
      check here for more doc.: https://thoughtbot.com/upcase/videos/turbolinks-->
  </head>

  <body>
    <%= yield %>
  </body>
</html>
