<!DOCTYPE html>
<html>
  <head>
    <title>WKH-MisterCocktail</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <!-- defer: true is immensely important for the Javascript to work! Otherwise elements
      are not loaded yet and you cannot select them!-->
  </head>

  <body>
    <%= yield %>
  </body>
</html>
